.knowledgeBase {
  font-family: Arial, sans-serif;
  padding: 20px 50px;
  width: 1920px;
  height: 1080px;
  zoom: 0.7;
}

.articlesSection {
  width: 1820px;
  height: 840px;
  padding: 40px 50px;
  gap: 5px;
}

.articlesTitle2 {
  width: 1720px;
  height: 63px;
  padding: 10px 0px;
  gap: 15px;
  display: inline-flex; 
  align-items: flex-end; 
}

.articlesTitle {
  width: 520px;
  height: 53px;
  font-size: 46px;
  font-weight: 550;
  color: #000000;
  font-family: 'Inter'; 
}

.articlesInfo {
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
  color: #000000;
  font-family: 'Inter';  
}

.articleList {
  width: 1720px;
  min-height: 693px;
  padding: 25px 0px;
  font-size: 22px;
  font-family: 'Blinker';
  line-height: 150%;
}

.indentedLine {
  margin-left: 20px;
}
 
.iconHover {
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
  width: 33px;
  height: 33px;
  padding: 0px;
  color: #545454;
  cursor: pointer;
}

.iconHover:hover {
  transform: scale(1.2); /* Slightly enlarge the icon */
  opacity: 0.7;
}


