.knowledgeBase {
  padding: 20px 50px;
  width: 1920px;
  zoom: 0.7;
}

.body {
  min-width: 1820px;
  padding: 25px 50px;
  margin: 0px;
  gap: 5px;
}

.articlesSection {
  display: inline-flex;
  align-items: center;
  padding: 0px;
  margin-bottom: 25px;
  gap: 40px;
}

.title {
  font-family: 'Cinzel';
  font-size: 48px;
  font-weight: bold;
  color: #797A7A;
  line-height: 150%;
}

.toggleButton {
  background-color: #2D5157 !important;
  color: #FFFFFF !important;
  font-family: 'Blinker';
  font-size: 25px !important;
  padding: 0px !important; /* Adjust padding for a better look */
  border-radius: 70px !important; /* Makes the button more rounded */
  min-width: 220px !important; /* Makes the button longer */
  height: 54.5px !important; /* Reduces height */
}

/* Add hover effect */
.toggleButton:hover {
  background-color: #1E3A40 !important; /* Darker shade on hover */
  color: white !important; /* Ensure text remains visible */
}

.dropdownMenu {
  background-color: #FFFFFF !important;
  color: #1E3A40 !important;
  font-family: 'Blinker';
  font-size: 25px !important;
  border-radius: 20px !important; 
  padding: 0px !important; /* Adjust padding for a better look */
  min-width: 220px !important; /* Makes the button longer */
  height: 160px !important; /* Reduces height */
  align-items: stretch;
}

.dropdownItem:hover {
  background-color: #1E3A40;
  color: #FFFFFF;
}

.articleList {
  min-width: 1720px;
  padding: 0px;
  row-gap: 15px;
  margin: 0px; 
  font-family: 'Canva Sans';
  font-size: 25px;
  color: #000000;
  line-height: auto;
}

.articleGroup {
  margin: 0px;
  padding: 20px 0px;  
  gap: 15px;
}

.articleName1 {    
  font-weight: bold;
}

.articleInfo {
  font-style: italic;
  font-weight: 400;
  color: #797A7A;
  margin-left: 20px;
}

.category {
  text-decoration: underline;
  display: inline-flex;
}

.articleName2 {  
  display: flex;   
}

.tag {
  color: blue;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 550;
  font-size: 22px;
  text-decoration: underline;
}

.articleTags{
  display: flex;  
  gap: 15px;
}

.iconHover {
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.iconHover:hover {
  transform: scale(1.2); /* Slightly enlarge the icon */
  opacity: 0.7;
}


