.knowledgeBase {
  padding: 20px 50px;
  width: 1920px;
  height: 1080px;
  zoom: 0.7;
}

.body {
  min-width: 1820px;
  padding: 25px 50px;
  margin: 0px;
  gap: 5px;
}

.articlesSection {
  display: inline-flex;
  align-items: center;
  padding: 0px;
  margin-bottom: 25px;
  gap: 40px;
}

.title {
  font-family: 'Cinzel';
  font-size: 48px;
  font-weight: bold;
  color: #797A7A;
  line-height: 150%;
}

.draftsButton {
  background-color: #2D5157 !important;
  color: #FFFFFF !important;
  font-family: 'Blinker';
  font-size: 25px !important;
  padding: 0px !important; /* Adjust padding for a better look */
  border-radius: 70px !important; /* Makes the button more rounded */
  min-width: 280px !important; /* Makes the button longer */
  height: 54.5px !important; /* Reduces height */
}

/* Add hover effect */
.draftsButton:hover {
  background-color: #1E3A40 !important; /* Darker shade on hover */
  color: white !important; /* Ensure text remains visible */
}

.dropdownItem {
  background-color: #2D5157 !important;
  color: #FFFFFF !important;
  font-family: 'Blinker';
  font-size: 25px !important;
  padding: 0px !important; /* Adjust padding for a better look */
  border-radius: 70px !important; /* Makes the button more rounded */
  min-width: 280px !important; /* Makes the button longer */
  height: 54.5px !important; /* Reduces height */
  align-items: stretch;
}

.articleList {
  padding-left: 40px; /* Uniform padding */
  margin-top: 20px;
}

.iconHover {
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.iconHover:hover {
  transform: scale(1.2); /* Slightly enlarge the icon */
  opacity: 0.7;
}


