.knowledgeBase {
  font-family: Arial, sans-serif;
  padding: 20px 50px;
  width: 1920px;
  zoom: 0.7;
}

.body {
  min-width: 1820px;
  padding: 50px 50px;
  margin: 0px;
  gap: 5px;
}

.title {
  padding: 20px 0px;
  margin-bottom: 25px;
  font-family: 'Cinzel';
  font-size: 42px;
  font-weight: bold;
  text-decoration: underline;
  color: #2d5157;
  line-height: 150%;
}

.recentArtcl {
  min-width: 1720px;
  padding: 0px;
  row-gap: 15px;
  margin: 0px;      
  font-size: 28px;
  font-family: 'Inter';
  color: #000000;
  line-height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
}

.articleGroup {
  margin: 0px;
  padding: 10px 0px;  
  gap: 5px;
}

.articleName1 {    
  font-weight: bold;
}

.articleInfo {
  font-style: italic;
  font-weight: 400;
  color: #797A7A;
}