.knowledgeBase {
  padding: 20px 50px;
  width: 1920px;
  zoom: 0.7;
}

.body {
  min-width: 1820px;
  padding: 25px 50px;
  margin: 0px;
  gap: 5px;
}

.custom_btn {
  height: 58px;
  width: 140px;
  background-color: #2d5157;
  color: white;
  font-size: 32px;
  font-family: 'Canva Sans';
  border: 2px solid white;
  border-radius: 10px; /* Optional: Rounded corners */
}
.custom-btn:hover {
  background-color: #244448; /* Slightly darker on hover */
  border-color: #1a3336; /* Change border color on hover */
}

.articleList {
  min-width: 1720px;
  padding: 0px;
  row-gap: 15px;
  margin: 0px; 
  font-family: 'Canva Sans';
  font-size: 25px;
  color: #000000;
  line-height: auto;
}

.articleGroup {
  margin: 0px;
  padding: 20px 0px;  
  gap: 15px;
}

.articleName1 {    
  font-weight: bold;
}

.articleInfo {
  font-style: italic;
  font-weight: 400;
  color: #797A7A;
  margin-left: 20px;
}

.category {
  text-decoration: underline;
  display: inline-flex;
}

.articleName2 {  
  display: flex;   
}

.tag {
  color: blue;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 550;
  font-size: 22px;
  text-decoration: underline;
}

.articleTags{
  display: flex;  
  gap: 15px;
}

.searchBar {
  width: 1570px;
  border: 1px solid #000000;
  font-family: 'Canva Sans';
  font-size: 24px;
  font-weight: normal;
  color: #000000;
  line-height: auto;
  height: 54px;
  align-items: center;
  display: inline-flex; 
  margin-right: 10px;
  border-radius: 5px;
}

.searchResult {
  font-family: 'San Serif';
  font-size: 24px;
  font-weight: normal;  
  font-style: italic;
  color: #000000;
}



